<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai total : ' + total }}</h1>
        <h1>{{ 'Rata-rata: ' + rata2 }}</h1>
    </div>

    <script src="../lib/vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data: {
                total : 0,
                rata2 : 0,
            },
            methods : {
                openForm : function(){
                    for(a = 0; a < 4; a++){
                        this.total[a] = prompt("Masukkan nilai a")
                        this.total += 1
                    }
                    
                    this.rata2 = this.total/4
                }
            }
        })
    </script>
</body>
</html>