<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app1">
        <h1>Blog yang dipilih : {{SelectedBlog}}</h1>
        <blog-component v-for="blog in blogs" :blog="blog" @selected="SelectedBlog = $event"></blog-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script>
        
        var BlogComponent = {
            template : `
            <div>
                <h3>{{ blog.title }} <button @click="$emit('selected', blog.title)">pilih</button></h3>
                <p>{{ blog.content }}</p>
            </div>`,
            data(){
                return{
                    pesan : 'ini'
                }
            },
            props : ['blog']
        }

        const vm = new Vue({
            el:'#app1',
            components : {
                "blog-component" : BlogComponent
            },
            data : {
                blogs : [
                    {
                        title : 'ini judul 1',
                        content : 'desc 1'
                    },
                    {
                        title : 'ini judul 2',
                        content : 'desc 2'
                    }
                ],
                SelectedBlog : ''
            }
        })
    </script>
</body>
</html>