<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <member-component>
            <template v-slot:data>
                <table border="1">
                    <tr style="text-align: center;">
                        <th>Nama</th>
                        <th>Alamat</th>
                        <th>No.hp</th>
                        <th>Photo</th>
                        <th>Action</th>
                    </tr>
                
                    <tr v-for="member in members" :member="member">
                        <td>{{ member.name }}</td>
                        <td>{{ member.address }}</td>
                        <td>{{ member.no_hp }}</td>
                        <td><img :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/600x400/383238/fff.jpg&text=Tidak+Ada+photo'" style="width: 100px;"></td>
                        <td>
                            <button @click="editMember(member)">Edit</button>
                            <button @click="removeMember(member.id)">Delete</button>
                            <button @click="uploadPhoto(member)">Upload Photo</button>
                        </td>
                    </tr>
            </table>
            </template>
        </member-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script>
        var MemberComponent = {
            template : `
            <div>
                <slot name="data"></slot>
            </div>`,
            props : ['members']
        }

        const vm = new Vue({
            el:'#app',
            components : {
                "member-component" : MemberComponent
            },
            data : {
                members: [],
                photoDomain : "http://demo-api-vue.sanbercloud.com/"
            },
            methods:{
                getMember : function(){

                const config = {
                    method : "get",
                    url    : "http://demo-api-vue.sanbercloud.com/api/member"
                }

                axios(config)
                    .then( (response) =>{
                        this.members = response.data.members
                        console.log(this.members)
                    })
                    .catch( (response)=>{
                        console.log(error)
                    })
                }
            },
            created(){
                this.getMember()
            }
        })
    </script>
</body>
</html>