<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <label>Nama</label><br>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name"><br>
            <label>Alamat</label><br>
            <textarea :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address"></textarea><br>
            <label>No.Hp</label><br>
            <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp"><br>

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT"><br>
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click=updateMember(idEditMember)><br>
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;"><br>
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile" style="margin-top: 5px;"><br>
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)"style="margin-top: 5px;">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top: 5px;"><br>
            </div>
        </form>
        <br>
        <table border="1">
            <tr style="text-align: center;">
                <th>Nama</th>
                <th>Alamat</th>
                <th>No.hp</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
            <tr v-for="member in members">
                <td>{{ member.name }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.no_hp }}</td>
                <td><img :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/600x400/383238/fff.jpg&text=Tidak+Ada+photo'" style="width: 100px;"></td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="removeMember(member.id)">Delete</button>
                    <button @click="uploadPhoto(member)">Upload Photo</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp:'',
                members: [],
                errors : [],
                photoDomain : "http://demo-api-vue.sanbercloud.com/",
                buttonStatus : 'submit',
                idEditMember : null,
                idUploadMember : null

            },
            // mounted () {
            //     axios
            //     .get('http://demo-api-vue.sanbercloud.com/api/member')
            //     .then(response => (console.log(this.info = response.data.members)))
            //     .catch(error => console.log(error))
            // },
            methods:{
                clearform: function(){
                    this.name = '',
                    this.address = '',
                    this.no_hp = ''
                },

                submitForm : function(){

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        const config = {
                            method : "post",
                            url    : "http://demo-api-vue.sanbercloud.com/api/member",
                            data   : formData
                        }

                        axios(config)
                            .then( (response) =>{
                                this.clearform()
                                this.getMember()
                                alert(response.data.message)
                                console.log(response.data)
                            })
                            .catch( (response)=>{
                                
                            })
                },

                getMember : function(){

                    const config = {
                        method : "get",
                        url    : "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then( (response) =>{
                            this.members = response.data.members
                            console.log(this.members)
                        })
                        .catch( (response)=>{
                            console.log(error)
                        })
                },

                removeMember : function(id){
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : "DELETE"}
                    }
                    axios(config)
                        .then((response) => {
                            this.getMember()
                            alert(response.data.message)
                        })
                        .catch((response)=>{
                            console.log(error)
                        })

                    console.log(id)
                },

                editMember : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },

                updateMember : function(id){
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    let config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : 'PUT'},
                        data : formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMember()

                            alert(response.data.message)
                        })
                        .catch(() =>{
                            console.log(error)
                        })
                },

                clearForm : function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null,
                    this.idUploadMember = null
                },

                uploadPhoto : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                },

                submitPhoto : function(id){
                    let file = this.$refs.photo_profile.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    
                    let config = {
                       method : "post",
                       url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                       data : formData
                    }

                    axios(config)
                        .then((response) =>{
                            this.clearForm()
                            this.getMember()

                           alert(response.data.message)
                    })
                        .catch((error)=>{
                           console.log(error)
                    })
                }
            },
            created(){
                this.getMember()
            }
        })
    </script>
</body>
</html>