<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="user-list-example">
        <form v-on:submit.prevent="addNewName">
          <label for="new-user">Add a user</label>
          <input
            v-model="newNameText"
            id="new-user"
            placeholder="E.g. Feed the cat"
          >
          <button>Add</button>
        </form>
        <ul>
          <li
            is="user-item"
            v-for="(user, index) in users"
            v-bind:key="user.id"
            v-bind:name="user.name"
            v-on:remove="users.splice(index, 1)"
          ></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component('user-item', {
            template: '\
                <li>\
                    {{ name }}\
                    <button v-on:click="$emit(\'remove\')">Remove</button>\
                    <button v-on:click="UpdateName()">Update</button>\
                </li>\
            ',
            props: ['name']
        })

        new Vue({
            el: '#user-list-example',
            data: {
                newNameText: '',
                users: [
                    {
                        id: 1,
                        name: 'Muhammad Iqbal Mubarok',
                    },
                    {
                        id: 2,
                        name: 'Ruby Purwanti',
                    },
                    {
                        id: 3,
                        name: 'Faqih Muhammad'
                    }
                ],
                nextNameId: 4
            },
            methods: {
                addNewName: function () {
                    this.users.push({
                        id: this.nextNameId++,
                        name: this.newNameText
                    })
                    this.newNameText = ''
                },
                UpdateName: function () {
                    this.newNameText = name
                    this.users.set({
                        name: this.newNameText
                    })
                }
            }
        })
    </script>
</body>
</html>