<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li style="list-style:none;" v-for="komen in komentar">
                <button v-on:click="score++">+</button><br>
                {{ komen }} || {{date}} || {{ score }} <br>
                <button v-on:click="score--">-</button><br>
            </li>
        </ul>
        <textarea ref="komentar" cols="30" rows="10" v-on:keyup.enter="tambahkomen"></textarea>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                komentar : [],
                date     : new Date().toLocaleString(),
                score    : 0
            },
            methods: {
                tambahkomen: function(ev){
                    this.komentar.push(ev.target.value);
                    this.$refs["komentar"].value = "";
                }
            }
        })
    </script>
    <!-- var vm = new Vue({
        el: '#app',
        data: {
            title : '',
            description : '',
            isi : '',
            errors : [],
            blogs  : []
        },
        methods:{
            getBlogs : function (){
                const axios = require('axios');

                const config = {
                    method : "GET",
                    URL    : "http://demo-api-vue.sanbercloud.com/api/member"
                }

                axios(config)
                    .then(response => (this.isi = response))
                    .catch((error)=>{
                        console.log(error)
                    })
            },

            created(){
                this.getBlogs()
            }
        }
        
    }) -->
</body>
</html>