<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" name="book" v-model="NameBook">
        </form>
        <ul>
            <li v-for="book in filterBook">{{ book }}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    NameBook : '',
                    books : ['Kalkulus Dasar', 'Fisika Dasar', 'Aljabar Linier Elementer', 'Aljabar Abstrak', 'Algoritma Pemrogaman']
                }
            },
            computed: {
                filterBook() {
                    return this.books.filter(book => {
                        return book.toLowerCase().includes(this.NameBook.toLowerCase())
                    })
                }
            }
        })
    </script>
</body>
</html>